<% if flash[:notice] %>
    <%= flash[:notice] %>
<% end %>

<% @tweets.each do |e| %>
    <p>
        <%=link_to '表示', "/tweets/#{e.id}" %>
        <ul>
            <li>ツイート</li>
            
            <li>ツイートと返信</li>

            <li>メディア</li>

            <li>いいね</li>
        </ul>
<% end %>