/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
#header{
    width:1300px;
    margin:0 auto;
    display: flex;
}

#sidebar{
    width:121px; float: left
}

#side{
    background-color:#00ffff;
}

#content{
    margin-left:150px;
    margin-right:884px;
}

#tweet{
    border:1px solid #cccccc;
    padding-left:10px;
}

ul{
    list-style-type:none;
    display: flex;
}

li{
    display: inline-block;
    width:120px; /*幅を指定*/
    padding:10px 0; /*縦方向の余白を指定*/
    border:1px solid #cccccc; /*境界線を指定 */
    text-align:center; /*liの内容を中央寄せに*/
}

li:hover{
    background-color:#555;
    color:white;
}